@using UserBase.BLContracts;
@using UserBase.UserLogic;
@using UserBase.Entities;
@using UserBase.WebUI.Models;
@{
    IUserLogic userLogic = UserLinker.Instance;
    IAwardLogic awardLogic = AwardLinker.Instance;
    IEnumerable<Award> awards = awardLogic.GetAll();
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    @RenderPage("~/_Header.cshtml")
    @{
        if (!User.IsInRole("admin"))
        {
            Response.SetStatus(HttpStatusCode.Forbidden);
        }
    }
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Users</th>
                <th>Control</th>
            </tr>
        </thead>

        <tbody class="award-list">
            @foreach (var award in awards)
            {
                <tr>
                    <td>@award.Name</td>
                    <td>
                        <img src="~/Images/View?id=@award.Id&source=award" width="100" height="100" class="img-responsive img-rounded" />
                    </td>
                    <td>
                        <ul class="user-list">
                            @foreach (var user in awardLogic.Users(award.Id))
                            {
                                <li>
                                    @user.Username
                                    <form action="~/Users/RescindAward" method="post">
                                        <input type="hidden" name="userId" value="@user.Id" />
                                        <input type="hidden" name="awardId" value="@award.Id" />
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="glyphicon glyphicon-minus-sign"></i>
                                        </button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="~/Awards/RemoveAward">
                        <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <form action="~/Awards/EditAward">
                            <input type="hidden" name="id" value="@award.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>